# Add your GitHub username (including '@') to the 'notify' list to receive alerts when English rules change.
# Append to the existing list on the same line, separated by a single space (e.g. notify=@user1 @user2).
# You do not have to add your Github username if you are already in the mathcat-translators group.

paths=Rules/Languages/en/
exclude=Rules/Languages/en/gb/
notify=@johannes-spsm @daisy/mathcat-translators