.idea
.DS_Store
target
build.rs.orig
Python/libmathcat.pyd
Cargo.lock
src-pest.7z
src.7z
mp2.7z
foo
out
Rules.zip
src/*.bak
*.swp
*/*.swp
*/*/*.swp
*.sleepy
*.txt
*.zip
__pycache__
PythonScripts/__pycache__
PythonScripts/cachedir
PythonScripts/shapes.yaml
PythonScripts/ueb-shapes.yaml
PythonScripts/unicode.yaml
PythonScripts/*.txt
PythonScripts/*.rs
PythonScripts/out
PythonScripts/foo
PythonScripts/UEBCharTable.csv
PythonScripts/ueb.csv.bak

PythonScripts/UEBCharTable.xlsx
PythonScripts/all-nemeth-chars.py
PythonScripts/encrypt.py
PythonScripts/intent-coverage.py
PythonScripts/PythonScripts.zip
PythonScripts/google-defs.yaml
BrailleDocs

src/errors.rs
src/pattern.pest
src/read_speech_rules.rs
src/rules.pest
src/.tmp.driveupload
*.tmp.driveupload
src/lib.rs-nozip
src/lib.rs.zip
src/shim_filesystem.rs-nozip
src/shim_filesystem.rs.zip
src/speech-bak

Rules/*/*/*.zip
.vs
