[package]
name = "MathCAT"
version = "0.1.0"
authors = ["Neil Soiffer <soiffer@alum.mit.edu>"]
edition = "2018"


# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
sxd-document = "0.3.2"
sxd-xpath = "0.4.2"
yaml-rust = "0.4.5"
lazy_static = "1.4.0"
strum = "0.21.0"
strum_macros = "0.21.0"
error-chain = "0.12.4"
regex = "1.5.4"
dirs = "4.0"
bitflags = "1.2.1"
phf = { version = "0.10.0", features = ["macros"] }
rand = "0.8.0"
radix_fmt = "1.0.0"
internment = "0.5.4"
log = "0.4.0"
env_logger = "0.8.4"
cfg-if = "1.0"
zip = { version = "0.5.8", default-features = false, features = ["deflate"] }
getrandom = { version = "0.2.3", features = ["js"] }

# # dependencies because of need to build wasm version for file i/o
# yew = "0.18.0"
# wasm-bindgen = "0.2.78"
# wasm-bindgen-futures = "0.4.28"
# js-sys = "0.3.35"
# futures = "0.3.15"

# [dependencies.web-sys]
# version = "0.3.35"
# features = [
#     "HtmlInputElement",
#     # probably not all of these are needed -- copied from an example
#     "Headers",
#     "Request",
#     "RequestInit",
#     "RequestMode",
#     "Response",
#     "Window",
# ]



[build-dependencies]
bitflags = "1.2.1"
phf = { version = "0.8.0", features = ["macros"] }

[[bin]]
name = "mathcat"
path = "src/main.rs"

[lib]
name = "libmathcat"
crate-type = ["rlib", "cdylib"]
